
/* General rules */
body{
    margin: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}



/* Header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    padding-top: 20px;
    padding-bottom: 160px;
}


/* Logo + Nav */
nav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.navigator{
    display: flex;
    min-width: 30%;
    justify-content: space-around;
    align-items: center;
}

#logo{
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat:no-repeat;
    width: 10%;
    height: 100%;
}

#accedi{
    color: black;
    padding: 7px 10px;
    font-size: 13px;
}



/* Descrizione */

.incipit{
    min-height: 150px;
    margin: 160px 25% 0 25%; 
}

#titolo{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

#descrizione{
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
}


/* Jumbotron */

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    align-items: center;
    background-color: white;
    margin: 5px 0;
    padding: 12px 17px;
    border-radius: 20px;
}

#scarica{
    color: black;
    margin: 0 10px;
}

#apri{
    background-color:rgba(35,39,42,255);
    margin: 0 10px;
}





/* Main */


/* Generali */

.contenitore-bianco{
    background-color: white;
    min-height: 400px;
    padding: 100px 0;
}

.contenitore-grigio{
    background-color: rgba(246,246,246,255);
    min-height: 400px;
    padding: 100px 0;
}

.feature{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 400px;
    margin: 0 13% 0 13%;
}

.image{
    width: 55%;
    height: 100%;
}

.info{
    width: 30%;
    min-height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vantaggi-titolo{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.vantaggi-descrizione{
    font-size: 16px;
    line-height: 30px;
}



/* Un luogo a invito */

#image-1{
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


/* Dove trovarsi è facile */

#image-2{
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
}


/* Da pochi a un fandom */

#image-3{
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


/* Tecnologia affidabile */

.more-feature{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10% 100px;
}

#call-photo{
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}

#call-description{
    margin: 0 10%;
    width: 70%;
    text-align: center;
    margin: 0 10px;
}



div > #call-photo{
    width: 95%;
    min-height: 400px;
    margin: 50px 0;
}

#stelline{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 37%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0 30px 0;
    margin-bottom: 30px;

}

#download{
    background-color: rgba(114,137,218,255);
    color: white;
    margin: 0 10px;
}


/* footer */

/* link */

footer{
    background-color: rgba(35,39,42,255);
    padding: 50px 8% 100px;
}

.hfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    padding: 50px 80px;
}

#posto-per-parlare{
    width: 12%;
}

h1{
    color: rgba(114,137,218,255);  
}

.loghi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 70px;
}

ul{
    list-style-type: none;
    line-height: 30px;
}

.footer-title{
    color: rgba(114,137,218,255);
}

#bandiera{
    height: 20px;
}

hr{
    border: 1px solid rgba(114,137,218,255);
}


/* Logo + Registrati */

.bfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#registrati{
    color: white;
    background-color: rgba(114,137,218,255);
}