
/* General rules */
body{
    margin: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}



/* Header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    padding-top: 20px;
    padding-bottom: 160px;
}


/* Logo + Nav */
nav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.navigator{
    display: flex;
    min-width: 30%;
    justify-content: space-around;
    align-items: center;
}

#logo{
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat:no-repeat;
    width: 10%;
    height: 100%;
}

#accedi{
    color: black;
    padding: 7px 10px;
    font-size: 13px;
}



/* Descrizione */

.incipit{
    min-height: 150px;
    margin: 160px 25% 0 25%; 
}

#titolo{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

#descrizione{
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
}


/* Jumbotron */

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    align-items: center;
    background-color: white;
    margin: 5px 0;
    padding: 12px 17px;
    border-radius: 20px;
}

#scarica{
    color: black;
    margin: 0 10px;
}

#apri{
    background-color:rgba(35,39,42,255);
    margin: 0 10px;
}




/* Main */

.contenitore-bianco{
    background-color: white;
    min-height: 400px;
    padding: 100px 0;
}

.contenitore-grigio{
    background-color: gray;
    min-height: 400px;
    padding: 100px 0;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:bisque;
    height: 400px;
    margin: 0 15%;
}

.image{
    width: 55%;
    height: 90%;
    background-color: brown;
}

.info{
    width: 35%;
    min-height: 70%;
    background-color: brown;
}

.more-feature{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    margin: 0 15% 100px;

}

div > h2{
    min-width: 80%;
    height: 70px;
    background-color: brown;
}

.more-feature > p{
    min-width: 80%;
    height: 45px;
    background-color: brown;
}

div > #call-photo{
    width: 95%;
    height: 400px;
    background-color: brown;
    margin: 50px 0;
}

div > h3{
    min-width: 60%;
    height: 50px;
    background-color: brown;
}

#download{
    background-color: rgba(114,137,218,255);
    margin: 30px 0;
    height: 30px;
    width: 15%;
}